.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 4rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  & svg {
    height: 6rem;
    width: 6rem;
    fill: $clr-tertiary;
  }

  &__icon-box {
    background-color: $clr-primary--1;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;

    position: relative;
    margin-bottom: 4rem;
    display: grid;
    place-content: center;
  }

  &__icon-box::before {
    content: "";
    height: 11.5rem;
    width: 11.5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid $clr-secondary--1;
  }
  &__icon-box::after {
    content: "";
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid $clr-secondary--2;
  }

  &__text {
    font-size: $fs-18;
    color: $clr-secondary--4;
    text-align: center;
    margin-top: auto;
  }
}

.feature--1::before,
.feature--2::before,
.feature--3::before {
  position: absolute;
  content: "\2192";
  font-size: 3rem;
  color: $clr-primary;
  top: 5%;
  left: 100%;
}
