body {
  font-family: $ff-primary;
  line-height: $lh-16;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: balance;
}

.heading-primary {
  // font-size: clamp($fs-32, 6.35vw, $fs-86);
  font-size: $fs-62;
  letter-spacing: 2px;
  color: $clr-white;
  line-height: $lh-10;
  font-weight: 700;
  color: $clr-secondary--1;
}

.heading-secondary {
  font-size: clamp($fs-32, 6.35vw, $fs-44);
  font-weight: 700;
  line-height: $lh-12;
}

.heading-tertiary {
  font-weight: $fw-700;
  font-size: $fs-24;
}
