//SPACING SYSTEM (px)
//2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// FONT FAMILLY

$ff-primary: "Lato", sans-serif;
$ff-secondary: "Lato", sans-serif;

// FONT SIZES

$fs-10: 1rem;
$fs-12: 1.2rem;
$fs-14: 1.4rem;
$fs-16: 1.6rem;
$fs-18: 1.8rem;
$fs-20: 2rem;
$fs-24: 2.4rem;
$fs-32: 3.2rem;
$fs-36: 3.6rem;
$fs-44: 4.4rem;
$fs-52: 5.2rem;
$fs-62: 6.2rem;
$fs-74: 7.4rem;
$fs-86: 8.6rem;
$fs-98: 9.8rem;

// FONT WEIGHT

$fw-300: 300;
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

// LINE HEIGHT
$lh-10: 1;
$lh-11: 1.1;
$lh-12: 1.2;
$lh-16: 1.6;

// LETTER SPACING
$ls-20: 2rem;

// COLORS

// ### PRIMARY

$clr-primary: #46735a;
$clr-primary--1: #dae3de;
$clr-primary--2: #f1f5f3;
$clr-primary--2: #bfc8cf;
$clr-secondary: #3c373b;
$clr-secondary--1: #e1c6b3;
$clr-secondary--2: #ffeedd;
$clr-secondary--3: #fffaf6;
$clr-secondary--4: #4f4b4e;
$clr-tertiary: #0e1d2c;

// - 400: #FF6635
// - 500: #DD4E11

// - 900: #212121
// - 400: #5C5C5C
// - 200: #F8F8F8
// - 100: #FFFFFF

//  NEUTRAL

$clr-neutral--1: #f7f7f7;
$clr-neutral--2: #5c5c5c;
$clr-neutral--3: #f8f8f8;

$clr-white: #ffffff;
$clr-black: #000000;
